.bigDocker{
    margin: 0 auto;
    width: 45%;
    height: auto;
}

.bigDocker h1{
    text-align: center;
    font-weight: lighter;
}

.container{
    background-color: white;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    border-radius: 10px;
}
.container .detailMinor{
    justify-content: flex-start;
    width: 350px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.container .button{
    display: flex;
    justify-content: flex-end;
    width: 180px;
    padding-top: 8%;
}

.btnIjo{
    border:1px solid #56b586;
    background-color: #56b586;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    padding-left: 16px;
}
.btnLain{
    border:1px solid #fd6542;
    color: black;    
    border-radius: 5px;
    height: 30px;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;
}

#sideColorIjo{
    border-left: 4px solid #56b586;
    margin-right: 20px;
}
#sideColorOrange{
    border-left: 4px solid #fd6542;
    margin-right: 20px;
}

input[type=text]{
    width: 70%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 7px 0 dodgerblue;
}

.searchGroup input[type=text]{
    padding-left: 40px;
}
.searchGroup{
    display: inline;
    position: relative;
}
.searchGroup i{
    position: absolute;
    left: 14px;
    top: 5px;
    color: #aaa;
}
.dropDown{
    display: inline;
    position: relative;
}
.dropDown select{
    width: 25%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#arrow{
    position: absolute;
    color: red;
    right: 22px;
    bottom: 0px;
}

.searchMain{
    display: inline;
}


