.bigDocker{
    margin: 0 auto;
    width: 45%;
    height: auto;
}

.loadingProgress{
    background-color: white;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.bigDocker h1{
    text-align: center;
    font-weight: lighter;
}

.container{
    background-color: white;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.divider{
    width: 15%;
}
.detailMinor{
    padding-bottom: 15px;
}

.container .button{
    padding-top: 35px;
}

.btnIjo:hover{
    background-color:white;
    color: black;
}

.btnIjo{
    border:1px solid #56b586;
    background-color: #56b586;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    padding-left: 16px;
}

.btnLain{
    border:1px solid #fd6542;
    color: black;    
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.btnLain:hover{
    color: white;
    background-color: #fd6542;
}
#sideColorIjo{
    border-left: 6px solid #56b586;
    margin-right: 20px;
}
#sideColorOrange{
    border-left: 6px solid #fd6542;
    margin-right: 20px;
}

input[type=text]{
    width: 70%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 7px 0 dodgerblue;
}

.searchGroup input[type=text]{
    padding-left: 40px;
}
.searchGroup{
    display: inline;
    position: relative;
}
.searchGroup i{
    position: absolute;
    left: 14px;
    top: 5px;
    color: #aaa;
}
.dropDown{
    display: inline;
    position: relative;
}
.dropDown select{
    width: 25%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#arrow{
    position: absolute;
    color: red;
    right: 22px;
    bottom: 0px;
}

.searchMain{
    display: inline;
}


@media only screen and (max-width: 600px) {
    .button{
        position: relative;
    }
    .btnIjo{
        visibility: hidden;
    }
    .btnIjo:after{
        border:1px solid #56b586;
        background-color: #56b586;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        content: "OK";
        visibility: visible;
        padding: 10px;
        position: absolute;
        right: 20px;
        top: 15px;
    }
  

    .btnLain{
        visibility: hidden;
    }
    .btnLain:after{
        border:1px solid #fd6542;
        color: black;   
        border-radius: 5px;
        font-size: 15px;
        content: "PD";
        visibility: visible;
        padding: 10px;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .detailMinor{
        font-size: 2vw;
    }
 

}